<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.cobrabm.fexdroid" android:versionCode="11301" android:versionName="Bloodborne Thor 1.0">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Bloodborne" android:icon="@drawable/icon"
        android:theme="@style/GameTheme" android:debuggable="true"
        android:allowBackup="false" android:extractNativeLibs="true" android:isGame="true">
        <activity android:name=".MainActivity" android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|navigation|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
